<!DOCTYPE html>

<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link href="/automata.css" rel="stylesheet" />
  <title>automata</title>
</head>

<body>

  <header>
    <h1>automata</h1>
  </header>

  <div class="content">
{% block content %}{% endblock %}
  </div>

  <footer class="clear">
    <p>&copy; 2017 bbpink from <a href="https://sevensenses.jp/">sevensenses.jp</a></p>
  </footer>

</body>

</html>
